{% extends 'base.html' %}
{% block content %}
<h1>Transaction List</h1> </br>
<!-- <div class="search">
  <form action="{{url_for('search_med')}}" method="post" autocomplete="off">
    <input type="text" name="MedName" placeholder="Enter Medicine Name" class="searchbox" id="MedName" required>
    <input type="submit" class="btn" value="Search">
  </form>
</div>-->
</br></br></br>
			
<table>
    <tr>
      <th>Transaction id</th>
      <th>Customer Name</th> 
      <th>Customer Ph</th>
      <th>Transaction Date</th>
      <th>Total Amt</th>
      <th>View bill</th>
    </tr>

    {% for t in transactionview %}
    <tr>
        <th>{{t.Tranid}}</th>
        <th>{{t.CustName}}</th>
        <th>{{t.CustPh}}</th>
        <th>{{t.TranDate}}</th>
        <th>{{t.TotalAmt}}</th>
        <th><a href="{{url_for('viewbill', tranid=t.Tranid)}}">View bill</a></th>
    </tr>
    {% endfor %}
  </table>

{% endblock %}